<!DOCTYPE html >
<html>
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %> 
    <main>        
        <h2><%= blogTitle %> </h2>
        <p><%= blogContent %> </p>
        <h6><%= blogAuthor %> </h6>
    </main>
    <%- include('./partials/footer.ejs') %> 
</body> 
</html>